@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

@import 'planForm';
@import 'workout';
@import 'auth';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.bubble {
  width: 40vw;
  height: 40vw;
  border: black 1px solid;
  border-radius: 10%;
  padding: 50px;
  margin: auto;
  margin-top: 50px;
  overflow: auto;
}

.midi-bubble {
  width: 250px;
  height: 250px;
  border: black 1px solid;
  border-radius: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin: 20px;
  text-decoration: none;
  color: inherit;
}

.mini-bubble {
  width: 150px;
  height: 150px;
  border: black 1px solid;
  border-radius: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin: 20px;
}

.simple-modal {
  text-align: center;
  padding: 0 20px;
  h3 {
    font-weight: bold;
  }
}

.close-modal-button {
  background-color: inherit;
  border: none;
  font-size: 2rem;
}